{"filter":false,"title":".gitignore","tooltip":"~/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"group":"doc","deltas":[{"start":{"row":55,"column":7},"end":{"row":56,"column":0},"action":"insert","lines":["",""]}]}],[{"group":"doc","deltas":[{"start":{"row":56,"column":0},"end":{"row":57,"column":0},"action":"insert","lines":["",""]}]}],[{"group":"doc","deltas":[{"start":{"row":57,"column":0},"end":{"row":59,"column":11},"action":"insert","lines":["venv","*.pyc","staticfiles"]}]}]]},"ace":{"folds":[],"scrolltop":639.5,"scrollleft":0,"selection":{"start":{"row":59,"column":11},"end":{"row":59,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":38,"state":"start","mode":"ace/mode/text"}},"timestamp":1425524613756,"hash":"b3cef7df2d667e140b9c7f9a9ba7ffafbe87a068"}